//===========================
// Breakpoints
//===========================

$bp-xxsm: 30em;
$bp-xsm: 40em;
$bp-sm: 55em;
$bp-md: 64em;
$bp-lg: 75em;

$small:380px;
$small-medium:560px;
$medium:768px;
$medium-large:855px;
$large:1024px;
$x-large:1280px;

$small-menu:0px;

$below-medium: max-width 767px;
