//Primary Colors
$blue: #0075BE;
$blue-dark: #00588E;
//Secondary Colors
$blue-muted: #68899C;
$blue-muted-light: #8EA5B5;
$blue-muted-lighter: #B6C4CE;
$blue-muted-lightest: #D9E0E8;

// Grays and Neutrals
$gray: #4A4A4A;
$gray-light: #CCCCCC;
$gray-lighter: #E0E0E0;
$gray-lightest: #F1F1F1;
$gray-mid: #8E8E8E;
$gray-dark: #333333;

$white: #FFFFFF;
$black: #000;
$red: #a51b00;
$orange: orange;
$orange-muted: darken($orange, 20%);
