//=======================================================
// Variables
//=======================================================

$zi-highest: 50;
$zi-high: 40;
$zi-medium: 30;
$zi-low: 20;
$zi-lowest: 10;
$zi-ground: 0;
$zi-below-ground: -1;

//////////////////////////////
// Variables
// @_variables.scss
//////////////////////////////

/////////
// Type
$sans: 'Open Sans', sans-serif;
$sans-regular: normal;
$sans-bold: 700;
$sans-bolder: 800;

/////////
// Singularity variables
//
@include breakpoint-set('to ems', true);
@include add-grid(16);
@include add-gutter(1/1);

/// Widths and base sizing
$base-font-size: 62.5%; // setup to work with rems
$border-width: 4px;

$max-width: 660px;
$max-width-image-paragraph: 860px;

$teaser-width: 350px;
$callout-width: 400px;

$grid-width: 1280px;

/////////
// Spacing
//
$space: 30px;
