@layer components {
  .nav-primary-link {
    @apply relative no-underline bg-no-repeat pb-0.5;

    background-image: linear-gradient(
      theme("colors.purple.500"),
      theme("colors.purple.500")
    );
    background-size: 0 2px;
    background-position: 0% 100%;
    transition: background-size 0.15s linear;

    &:hover {
      background-size: 100% 2px;
    }
  }

  .nav-primary-link--active {
    background-image: linear-gradient(
      theme("colors.neutral.900"),
      theme("colors.neutral.900")
    );
  }
}
