@import 'typography';

@media (min-width: 64em) {

  .wrapper > .container {
    max-width: 960px;
  }

  .wrapper,
  .container {
    margin: 0 auto;
    max-width: 1280px;

    & h1 {
      margin-bottom: $space;
    }
  }
}

.container {
  padding: 0 45px;
  position: relative;
}

//////////////////////////////
// Helpers
// _helpfuls.scss
//////////////////////////////

.no-padding {
  @apply p-0;
}

.centered {
  @apply text-center;
}

a,
a:link {
  color: $link;
  text-decoration: none;
  transition: all 0.15s;

  &:visited {
       color: mix(black, $link, 10%);
     }

  &:hover {
    color: mix(black, $link, 60%);
    text-decoration: none;
  }
}
