@import 'normalize';
@import 'typography';

@media (min-width: 64em) {
  .wrapper,
  .container {
    margin: 0 auto;
    max-width: 1280px;
  }
}

.container {
  padding: 0 45px;
  position: relative;
}

//////////////////////////////
// Helpers
// _helpfuls.scss
//////////////////////////////

.no-padding {
  padding: 0;
}

.centered {
  text-align: center;
}
