
body,
html {
  @apply font-sans text-lg text-dark lg:text-xl;
}

// paragraphs
p {
  margin: 0;

  article & {
    max-width: $max-width;
  }
  + p {
    @apply py-4 px-0;
  }
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin: $space 0 $space/2;
  }
  + h4,
  + h5,
  + h6 {
    margin: $space/2 0 $space/4;
  }
  + ul,
  + ol {
    margin-top: $space/2;
  }
}
// headings
h1, %h1, h2, %h2, h3, %h3, h4, %h4, h5, %h5, h6, %h6 {

  @apply my-4 mx-0 font-sans font-bold text-blue-dark;

  article & {
    max-width: $max-width;
  }
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  @apply mt-2;
}
h1,
%h1 {
  @apply  text-4xl;
}
h2,
%h2 {
  @apply text-3xl;
}
h3,
%h3 {
  @apply text-2xl;
}

h4,
%h4 {
  @apply text-xl;
}
h5 {
  @apply text-lg lg:text-xl;
}
h6 {
  @apply text-base;
}

// emphasis styles
strong {
  @apply font-bold;
}
em {
  @apply italic;
}

// form elements
label {
  @apply font-sans text-3xl;
}
input,
textarea {
  @apply font-sans text-3xl;
}

table {
  @apply font-sans;
}

// figure
figcaption {
  line-height: 1.5;
  vertical-align: middle;
  cite {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

// quotes
blockquote {
  @apply text-3xl lg:text-4xl;
}

// lists
ul,
ol {
  @apply list-disc pl-8 mb-2;
}

li {
  @apply m-0;
}
