//////////////////////////////
// Typography
// _typography.scss
//////////////////////////////

body,
html {
  font-family: $sans;
  font-weight: $sans-regular;
  font-size: 18px;
  line-height: 1.58;
  letter-spacing: -0.004em;
  color: $dark-text;

  @include breakpoint($large) {
    font-size: 21px;
  }
}

// paragraphs
p {
  margin: 0;

  article & {
    max-width: $max-width;
  }
  + p {
    margin: $space/2 0;
  }
  + h2,
  + h3,
  + h4,
  + h5,
  + h6 {
    margin: $space 0 $space/2;
  }
  + h4,
  + h5,
  + h6 {
    margin: $space/2 0 $space/4;
  }
  + ul,
  + ol {
    margin-top: $space/2;
  }
}
// headings
h1, %h1, h2, %h2, h3, %h3, h4, %h4, h5, %h5, h6, %h6 {
  margin: $space 0;
  font-family: $sans;
  line-height: 1.2;
  font-weight: $sans-bold;

  article & {
    max-width: $max-width;
  }
}

h1 + h2,
h2 + h3,
h3 + h4,
h4 + h5,
h5 + h6 {
  margin-top: .5em;
}
h1,
%h1 {
  font-size: 2.4rem;
}
h2,
%h2 {
  font-size: 1.8rem;
}
h3,
%h3 {
  font-size: 1.5rem;
}

h4,
%h4 {
  font-size: 1.3rem;
}
h5 {
  font-size: 1.1rem;

  @include breakpoint($large) {
    font-size: 1.3rem;
  }
}
h6 {
  font-size: 1rem;
}

// emphasis styles
strong {
  font-weight: $sans-bold;
}
em {
  font-style: italic;
}

// form elements

label {
  font-size: 1.8rem;
  font-family: $sans;
}
input,
textarea {
  font-size: 1.8rem;
  font-family: $sans;
}

table {
  font-family: $sans;
}

// figure
figcaption {
  line-height: 1.5;
  vertical-align: middle;
  cite {
    font-size: 1.5rem;
  }
  span {
    font-size: 1.5rem;
    vertical-align: middle;
  }
}

// quotes
blockquote {
  font-size: 1.8rem;

  @include breakpoint($large) {
    font-size: 2.4rem;
  }
}

// lists
ul,
ol {
  @apply list-disc pl-8 mb-2;
}

li {
  @apply m-0;
}
