@import 'src/global/utils/init';

.top-bar {
  display: block;
  background-color: $blue;
  color: $white;
}

.top-bar--inner {
  @include breakpoint($medium) {
    display: flex;
    justify-content: space-between;
  }

  &.container {
    padding: 15px 30px;

    @include breakpoint($large) {
      padding: 10px 40px;
    }
  }
}

.top-bar--date {
  margin-bottom: 15px;
  text-align: center;
  flex-basis: 66%;
  font-size: 0.8rem;

  strong {
    display: block;
    font-size: 0.9rem;
  }

  @include breakpoint($medium) {
    text-align: left;
    margin-bottom: 0;
    flex-basis: 50%;
  }
}

.top-bar--register {
  flex-basis: 50%;

  @include breakpoint($small-medium) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  a.button:link {
    display: block;
    max-width: 300px;
    padding: 8px 30px;
    margin: 0 auto;
    font-size: 0.9rem;

    @include breakpoint($medium) {
      padding: 8px 12px;
      margin: unset;
    }

    @include breakpoint($large) {
      font-size: 1.1rem;
    }
  }

  a.button + a.button {
    margin-top: 12px;

    @include breakpoint($small-medium) {
      margin-top: 0;
      margin-left: 12px;
    }
  }
}
