@import 'src/global/utils/init';

.top-bar {
  display: block;
  background-color: $blue;
  color: $white;
  padding: 15px;
}

.top-bar--inner {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  padding: $space/2;
  width: 100%;

  @include breakpoint($medium) {
    flex-flow: row wrap;
  }

  @include breakpoint($x-large) {
    padding: $space/3 0;
  }
}

.top-bar--date {
  margin-bottom: $space;
  text-align: center;
  flex: 1 auto;

  strong {
    display: block;
    font-size: 1.3rem;
  }

  @include breakpoint($medium) {
    text-align: left;
    margin-bottom: 0;
    flex: 0 auto;
  }
}

.top-bar--register {
  flex: 1 auto;

  @include breakpoint($medium) {
    flex: 0 auto;
  }

  a {
    display: block;
  }
}
