@import 'src/global/utils/init';

.top-bar {
  display: block;
  background-color: $blue;
  color: $white;
}

.top-bar--inner {
  justify-content: space-between;

  @include breakpoint($small-medium) {
    display: flex;
  }

  &.container {
    padding: 15px 30px;

    @include breakpoint($large) {
      padding: 10px 40px;
    }
  }
}

.top-bar--date {
  margin-bottom: 15px;
  text-align: center;
  flex-basis: 66%;
  font-size: 0.8rem;

  strong {
    display: block;
    font-size: 0.9rem;
  }

  @include breakpoint($small-medium) {
    text-align: left;
    margin-bottom: 0;
  }
}

.top-bar--register {
  a.button:link {
    display: block;
    max-width: 300px;
    padding: 8px 30px;
    margin: 0 auto;
    font-size: 0.9rem;

    @include breakpoint($large) {
      font-size: 1.1rem;
    }
  }
}
