body {
  background-color: #ffcf99;
  background-image: radial-gradient(
      at 24% 83%,
      hsla(97, 0%, 100%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 70% 78%, rgba(255, 225, 184, 0.557) 0px, transparent 50%),
    radial-gradient(at 44% 13%, hsla(321, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 70% 17%, hsla(32, 0%, 100%, 1) 0px, transparent 50%),
    radial-gradient(at 91% 6%, rgb(243, 232, 145) 0px, transparent 50%),
    radial-gradient(at 32% 48%, hsla(308, 100%, 90%, 1) 0px, transparent 50%),
    radial-gradient(at 14% 0%, rgb(255, 192, 184) 0px, transparent 50%);
}

.hero__headline {
  background: linear-gradient(180deg, #d99268 0%, #e15c3e 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
