@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import 'utils/init';

// Base
//
// Plain html element styling. Shouldn't require
// any classes.
// ========================================
@import 'base/base';

/* ` const Day=styled.div` font-size: 2em;
text-align: center;
` const Time=styled.div` font-size: 1.5em;
text-align: center;
width: 100%;
background-color: #f3f3f3;
padding: 5px;
margin: .5em 0;
`
 */
.sessions {
  padding: 0 16px;
}

.sessions--sort {
  margin: 16px;
  padding-bottom: 16px;

  @include breakpoint($large) {
    //display: flex;
    //justify-content: center;
  }

  .button {
    margin: 0 6px 12px;
    padding: 3px 12px;
    color: $blue-dark;
    border: 1px solid $blue;
    border-radius: 20px;
    background: none;
    text-transform: unset;

    &:focus {
      outline: none;
    }

    &:hover {
      border-color: $secondary;
    }

    &.active {
      color: white;
      background: $blue;
    }
  }
}

.sessions--sort-label {
  font-weight: $font-weight-bold;
}

.sessions--day-list {
  display: none;

  &.active {
    display: block;
  }

  h3 {
    margin: 1rem 0;
  }
}

.sessions--day-nav {
  display: flex;
  margin-top: 1rem;

  .button {
    color: $gray;
    background: none;
    margin: 0;
    border-top: 3px solid $gray-light;
    border-left: 1px solid $gray-light;
    border-right: 1px solid $gray-light;
    border-bottom: none;
    border-color: $gray-light;
    border-radius: 0;

    &:hover {
      border-color: $secondary;
    }

    &:focus {
      outline: none;
    }

    &.active {
      color: $blue;
      border-color: $blue;
    }
  }
}
