// Utilities
//
// Import variables and mixins
// Should contain NO css output.
// Only variables / mixins / settings.
// ========================================
@import 'utils/init';

// Base
//
// Plain html element styling. Shouldn't require
// any classes.
// ========================================
@import 'base/base';

/* ` const Day=styled.div` font-size: 2em;
text-align: center;
` const Time=styled.div` font-size: 1.5em;
text-align: center;
width: 100%;
background-color: #f3f3f3;
padding: 5px;
margin: .5em 0;
`
 */

.sessions--sort {
  .button {

    color: $blue-muted-lighter;
    border: 1px solid $blue;
    background: none;

    &:focus {
      outline: none;
    }

    &.active {
      color: white;
      background: $blue;
    }
  }

  display: flex;
  justify-content: center;
  margin-bottom: .5rem;
}

.sessions--day-list {
  display: none;

  &.active {
    display: block;
  }

  h3 {
    margin: 1rem 0;
  }
}

.sessions--day-nav {
  display: flex;
  margin-top: 1rem;

  .button {
    color: $blue-muted-lighter;
    border: none;
    background: none;
    border-radius: 0;
    margin: 0;

    &:focus {
      outline: none;
    }


    &.active {
      color: $blue;
      border: 1px solid $blue;
      border-top: 3px solid $blue;
      border-bottom: none;
    }
  }
}
