@import 'src/global/utils/init';
@import 'src/global/base/base';

// Header sponsors
.header--sponsor-wrap {
  padding: 0;

  @include breakpoint($large) {
    margin-top: -160px;

    .container {
      padding: 0 120px;
    }
  }
}

.header--sponsors {
  background-color: $secondary-lightest;
  padding: $space;
  margin: 0 0 $space*2;

  -webkit-box-shadow:
    -8px -8px 0 0 $secondary-lighter,
    8px 8px 0 0 $secondary-light;
  -moz-box-shadow:
    -8px -8px 0 0 $secondary-lighter,
    8px 8px 0 0 $secondary-light;
  box-shadow:
    -8px -8px 0 0 $secondary-lighter,
    8px 8px 0 0 $secondary-light;

  .h3 {
    @extend %h3;
    color: $secondary;
    margin: 0 auto;
  }

  .sponsor--grid {
    justify-content: space-between;

    @include breakpoint($medium) {
      flex-wrap: nowrap;
    }

    .sponsor--item {
      flex-basis: 49%;

      img {
        max-width: 100%;
      }

      @include breakpoint($small-medium) {
        flex-basis: 24%;
      }

      @include breakpoint($large) {
        padding: $space/2;
      }
    }
  }
}
