// Body
//
// This is the body component. It's an example.
//
// Markup: body.twig
//
// Style guide: Components.Body

// Import site utilities.
@import '../../global/utils/init';

.body-text {

  a {
    border-bottom: 2px solid $orange;

    &:visited {
      border-bottom-color: $orange-muted;
    }

    &:hover {
      text-decoration: none;
      border-bottom-color: $orange;
    }
  }
}
