@import 'src/global/utils/colors';

.section {
  display: flex;

  border-bottom: 1px solid $blue;
  padding-bottom: 1rem;
  margin-bottom: 3rem;

  &:last-of-type {
    border-bottom: none;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    border-bottom: none;
  }
}

.section__thumbnail-container {
  width: 35%;
  padding: 15px;

  @media (max-width: 768px) {
    width: 100%;
  }
  img {
    border-radius: 5%;
  }
}

.section__container {
  width: 65%;
  justify-content: flex-end;
  padding: 15px;

  @media (max-width: 768px) {
    width: 100%;
  }

  h2 {
    color: $blue;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
}

.section__content {
  margin-bottom: 1rem;
}

.section__link {
  border-radius: 3px;
  padding: 0.5em 1em;
  background: $blue;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

.section__register-buton {
  margin: 30px 0 0;
}
