
.section {
  @apply flex flex-col border-0 border-b-0 border-blue pb-1 mb-3 md:flex-row md:border-b;

  &:last-of-type {
    @apply border-b-0;
  }
}

.section__thumbnail-container {
  @apply w-full p-4 md:w-4/12;

  img {
    border-radius: 5%;
  }
}

.section__container {
  width: 65%;
  justify-content: flex-end;
  padding: 15px;

  @media (max-width: 768px) {
    width: 100%;
  }

}

.section__header {
  font-size: 2rem;
  margin-top: 0;
  margin-bottom: 0.5rem;
  @apply text-blue;

}

.section__content {
  margin-bottom: 1rem;
}

a.section__link,
a.section__link:link,
.section__link:visited {
  border-radius: 3px;
  padding: 0.5em 1em;
  text-decoration: none;
  @apply bg-blue text-white uppercase;
}

.section__register-buton {
  margin: 30px 0 0;
}
