@import 'src/global/utils/init';

.main-menu {
  width: 100%;

  @include breakpoint($large) {
    width: auto;
    margin-top: $space/2;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: row wrap;
    flex: 1 auto;
  }

  li {
    flex: 0 auto;
    width: 100%;
    list-style-type: none;
    padding: 0 6px;
    margin: 0 2px;

    @include breakpoint($large) {
      width: auto;
      &:first-of-type {
        a {
          padding-left: 0;
          margin-left: 0;
        }
      }
      &:last-of-type {
        a {
          padding-right: 0;
          margin-right: 0;
        }
      }
    }

    a {
      flex: 1 auto;
    }
  }

  a {
    display: block;
    font-size: 1.2rem;
    font-weight: $sans-regular;
    line-height: 2;
    text-align: center;
    border-bottom: $border-width solid transparent;

    @include breakpoint($large) {
      font-size: 0.9rem;
    }

    @include breakpoint($x-large) {
      font-size: 1rem;
    }

    &:hover {
      color: $link-highlight;
      border-bottom-color: $gray-light;
    }

    &.active {
      border-color: $blue;
    }
  }
}


// menu-toggle
.main-menu-toggle {
  display: flex;
  flex-flow: row wrap;
  cursor: pointer;
  text-decoration: none;
  color: $link;

  @include breakpoint($large) {
    display: none;
  }

  a {
    display: block;
    cursor: pointer;
  }

  svg {
    flex: 0 auto;
    width: 32px;
    height: 32px;
  }

  .open,
  .close {
    display: flex;
    flex-flow: column wrap;
    flex: 1 auto;
    font-size: 1.3rem;
    align-items: center;

    @include breakpoint($medium) {
      flex-flow: row wrap;
      justify-content: space-between;
      font-size: 1.6rem;
    }

    .text {
      display: inline-block;
      padding-left: 6px;
    }
  }

  .close {
    display: none;
  }

  .open svg {
    fill: $link;
  }

  .close svg {
    fill: $link;
  }

  &.active {
    .open {
      display: none;
    }

    .close {
      display: flex;
      fill: $link-highlight;
    }
  }
}
