.sponsors {
  text-align: center;

  h3 {
    @apply bg-gray text-gray-lightest p-4 m-0;
  }
  .sponsors-list {
    @apply flex justify-center items-center flex-wrap p-2;
  }
  &--diamond {
    h3 {
      @apply bg-diamond text-diamond-dark shadow-diamond-light;
    }
  }
  &--gold {
    h3 {
      @apply bg-secondary text-secondary-lightest;
    }
    img {
      max-width: 150px;
    }
  }
  &--silver {
    h3 {
      @apply bg-silver-dark text-silver-light;
    }
    img {
      max-width: 125px;
    }
  }
  &--bronze {
    img {
      max-width: 100px;
    }
  }
  &--in-kind--media {
    img {
      max-width: 80px;
    }
  }
}

.footer-sponsors {
  @apply bg-gray-lightest mt-12 border-0 border-b-4 border-blue;

  .wrapper {
    @apply py-0 px-0 md:px-8 lg:px-12;
  }
}
