.sponsors {
  text-align: center;

  .sponsors-list {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@import 'src/global/utils/init';
//////////////////////////////
// Sponsor
// _sponsor.scss
//////////////////////////////

.sponsor--grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

  +.sponsor--grid {
    margin-top: $space*2;
  }
}

// sponsor headers
.sponsor--header {
  display: block;
  margin-top: $space*2;
  margin-bottom: $space;
  padding: $space;
  text-align: center;
  position: relative;

  h3 {
    color: $gray;
  }

  &.diamond {
    background-color: $secondary;

    h3 {
      color: $white;
    }
  }

  &.gold {
    background-color: $secondary-light;
  }

  &.silver {
    background-color: $secondary-lighter;
  }

  &.bronze {
    background-color: $secondary-lightest;
  }
}

// default sizes
.sponsor--item {
  display: block;
  flex: 0 25%;
  justify-content: center;
  padding: $space/3;

  @include breakpoint($large) {
    padding: $space;
  }

  .diamond & {
    flex-basis: 49%; // change if more than 3 diamond-level sponsors.

    @include breakpoint($large) {
      img {
        max-width: 350px;
      }
    }
  }

  .gold & {
    flex-basis: 33.33%;

    @include breakpoint($large) {
      img {
        max-width: 200px;
      }
    }
  }

  .silver & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }

  .bronze & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }
}

.footer-sponsors {
  background-color: lighten($gray-lightest, 1%);
  margin-top: $space*3;
  border-bottom: $space/2 solid $blue;

  .wrapper {
    @include breakpoint($medium) {
      padding: 0 30px;
    }
    @include breakpoint($large) {
      padding: 0 120px;
    }
  }

  .sponsors {
    h3 {
      background-color: lighten($gray, 10%);
      color: $gray-lightest;
      padding: $space;
      margin: 0;
    }
  }

  .sponsors-list {
    padding: $space;
  }

  .sponsors--diamond {
      h3 {
        background-color: $secondary;
        color: $white;
        padding: $space;

        -webkit-box-shadow:
          8px 8px 0 0 $secondary-lighter,
          -8px -8px 0 0 $secondary-light;
        -moz-box-shadow:
          8px 8px 0 0 $secondary-lighter,
          -8px -8px 0 0 $secondary-light;
        box-shadow:
          8px 8px 0 0 $secondary-lighter,
          -8px -8px 0 0 $secondary-light;
      }
  }
}
