.sponsors {
  margin-top: 25px;
  text-align: center;

  .sponsors-list {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@import 'src/global/utils/init';
//////////////////////////////
// Sponsor
// _sponsor.scss
//////////////////////////////

.sponsor--grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

  +.sponsor--grid {
    margin-top: $space*2;
  }
}

// sponsor headers
.sponsor--header {
  display: block;
  margin-top: $space*2;
  margin-bottom: $space;
  padding: $space;
  text-align: center;
  position: relative;

  h3 {
    color: $gray;
  }

  &.diamond {
    background-color: $blue-muted;

    h3 {
      color: $white;
    }
  }

  &.gold {
    background-color: $blue-muted-light;
  }

  &.silver {
    background-color: $blue-muted-lighter;
  }

  &.bronze {
    background-color: $blue-muted-lightest;
  }
}

// default sizes
.sponsor--item {
  display: block;
  flex: 0 25%;
  justify-content: center;
  padding: $space/3;

  @include breakpoint($large) {
    padding: $space;
  }

  .diamond & {
    flex-basis: 33.333%; // change if more than 3 diamond-level sponsors.

    @include breakpoint($large) {
      img {
        max-width: 350px;
      }
    }
  }

  .gold & {
    flex-basis: 33.33%;

    @include breakpoint($large) {
      img {
        max-width: 200px;
      }
    }
  }

  .silver & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }

  .bronze & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }
}

// Header sponsors
.header--sponsor-wrap {
  padding: 0;
}

.header--sponsors {
  background-color: $blue-muted-lightest;
  padding: $space;
  margin: 0 0 $space*2;

  -webkit-box-shadow:
    -8px -8px 0 0 $blue-muted-lighter,
    8px 8px 0 0 $blue-muted-light;
  -moz-box-shadow:
    -8px -8px 0 0 $blue-muted-lighter,
    8px 8px 0 0 $blue-muted-light;
  box-shadow:
    -8px -8px 0 0 $blue-muted-lighter,
    8px 8px 0 0 $blue-muted-light;

  @include breakpoint($large) {
    margin: 8px 8px $space*2;
  }

  h3 {
    color: $blue-muted;
  }

  .sponsor--item {
    flex-basis: 50%;

    @include breakpoint($medium) {
      flex-basis: 33.333%;
    }

    @include breakpoint($large) {
      padding: $space/2;
    }
  }
}

.footer-sponsors {
  margin: 0 45px;

  .sponsors {
    h3 {
      background-color: lighten($blue-muted-lightest, 5);
      padding: $space;
      margin: $space*2 0 $space 0;

      @include breakpoint($large) {
        margin: $space*2 8px $space 8px;
      }
    }
  }
  .sponsors--diamond {
      h3 {
        background-color: $blue-muted;
        color: $white;
        padding: $space;

        -webkit-box-shadow:
          8px 8px 0 0 $blue-muted-lighter,
          -8px -8px 0 0 $blue-muted-light;
        -moz-box-shadow:
          8px 8px 0 0 $blue-muted-lighter,
          -8px -8px 0 0 $blue-muted-light;
        box-shadow:
          8px 8px 0 0 $blue-muted-lighter,
          -8px -8px 0 0 $blue-muted-light;
      }
  }
  .sponsors--gold {
    h3 {
      background-color: $blue-muted-lighter;
    }
  }
  .sponsors--silver {
    h3 {
      background-color: $blue-muted-lightest;
    }
  }
}
