.sponsors {
  margin-top: 25px;
  text-align: center;

  .sponsors-list {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }
}

@import 'src/global/utils/init';
//////////////////////////////
// Sponsor
// _sponsor.scss
//////////////////////////////

.sponsor--grid {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  width: 100%;

  +.sponsor--grid {
    margin-top: $space*2;
  }
}

// sponsor headers
.sponsor--header {
  display: block;
  margin-top: $space*2;
  margin-bottom: $space;
  padding: $space;
  text-align: center;
  position: relative;

  h3 {
    color: $gray;
  }

  &.diamond {
    background-color: $blue-muted;

    h3 {
      color: $white;
    }

    &:before {
      display: block;
      position: absolute;
      content: "";
      background-color: $blue-muted-light;
      width: 100%;
      height: 100%;
      left: -1rem;
      top: -1rem;
      z-index: -1;
    }

    &:after {
      display: block;
      position: absolute;
      content: "";
      background-color: $blue-muted-lighter;
      width: 100%;
      height: 100%;
      right: -1rem;
      bottom: -1rem;
      z-index: -1;
    }
  }

  &.gold {
    background-color: $blue-muted-light;
  }

  &.silver {
    background-color: $blue-muted-lighter;
  }

  &.bronze {
    background-color: $blue-muted-lightest;
  }
}

// default sizes
.sponsor--item {
  display: block;
  flex: 0 25%;
  justify-content: center;
  padding: $space/3;

  @include breakpoint($large) {
    padding: $space;
  }

  .diamond & {
    flex-basis: 33.333%; // change if more than 3 diamond-level sponsors.

    @include breakpoint($large) {
      img {
        max-width: 350px;
      }
    }
  }

  .gold & {
    flex-basis: 33.33%;

    @include breakpoint($large) {
      img {
        max-width: 200px;
      }
    }
  }

  .silver & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }

  .bronze & {
    flex-basis: 33.333%;

    @include breakpoint($large) {
      flex-basis: 20%;
    }
  }
}

// Header sponsors
.header--sponsor-wrap {
  padding: 0;
}

.header--sponsors {
  background-color: $blue-muted-lightest;
  padding: $space;
  margin-bottom: $space*2;

  h3 {
    color: $blue-muted;
  }

  .sponsor--item {
    flex-basis: 50%;

    @include breakpoint($medium) {
      flex-basis: 33.333%;
    }

    @include breakpoint($large) {
      padding: $space/2;
    }
  }

  &:before {
    display: block;
    position: absolute;
    content: "";
    background-color: $blue-muted-lighter;
    width: 86.5%;
    height: 100%;
    left: 2rem;
    top: -1rem;
    z-index: -1;

    @include breakpoint($large) {
      width: 100%;
      left: -1rem;
    }
  }

  &:after {
    display: block;
    position: absolute;
    content: "";
    background-color: $blue-muted-light;
    width: 86.5%;
    height: 100%;
    right: 2rem;
    bottom: -1rem;
    z-index: -1;

    @include breakpoint($large) {
      width: 100%;
      right: -1rem;
    }
  }
}
