@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  @apply min-h-screen;

  font-display: swap;
}

@import "../components/logo/logo.scss";
@import "../components/menuPrimary/menuPrimary.scss";
@import "../components/homeHero/homeHero.scss";

.prose a:not(.remove-link-style) {
  @apply relative no-underline bg-no-repeat pb-0.5;

  background-image: linear-gradient(#c1c5e1, #c1c5e1),
    linear-gradient(#6f197d, #6f197d);
  background-size: 100% 2px, 0 2px;
  background-position: 100% 100%, 0 100%;
  transition: background-size 0.15s linear;
  padding-bottom: 2px;

  &:hover {
    background-size: 0 2px, 100% 2px;
  }
}

.speaker-list {
  @apply grid gap-8;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.speaker {
  position: relative;
  overflow: hidden;
}

.speaker > * {
  position: relative;
  z-index: 2;
}

.speaker::after {
  content: "";
  position: absolute;
  top: -2rem;
  left: -2rem;
  width: 130%;
  height: 130%;
  background-color: #3858a3;
  background-image: linear-gradient(
    329deg,
    #3858a3 0%,
    #620670 62%,
    #adc1ff 100%
  );
  transition: all 0.15s;
}

.speaker:hover::after {
  top: 0rem;
  left: 0rem;
}
