@import 'src/global/utils/init';

footer {
  display: flex;
  border-top: $space/2 solid $blue-dark;
  padding: $space*2 0;
  background-color: $gray-lightest;
  color: $gray;

  .container {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    padding: 0 $space;

    @include breakpoint($large) {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  .brand-and-info {
    display: block;

    @include breakpoint($small-medium) {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include breakpoint($large) {
      flex: 2;
    }

    .brand {
      display: block;
      min-height: 150px;
      max-height: 200px;
      background-position: center center;
      @apply mb-8;

      @include breakpoint($small-medium) {
        flex: 1;
        background-position: left center;
        margin-bottom: unset;
      }
    }

    .info-block {
      text-align: center;

      @include breakpoint($small-medium) {
        flex: 1;
        text-align: left;
      }
    }
  }

  .social {
    display: flex;
    flex: 1 auto;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    margin: ($space * 2) auto 0;
    min-width: 300px;
    max-width: 400px;

    @include breakpoint($large) {
      max-width: 20%;
      margin-top: 0;
      justify-content: flex-end;
    }

    li {
      display: flex;

      @include breakpoint($medium) {
        +li {
          margin-left: $space/2;
        }
      }
    }

    a,
    button {
      display: block;
      cursor: pointer;
      text-decoration: none;

      svg {
        fill: $link;
      }

      &:hover {
        svg {
          fill: $link-highlight;
        }
      }
    }

    button {
      background-color: transparent;
      border: none;
    }

    svg {
      flex: 0 auto;
      width: 32px;
      height: 32px;
    }
  }
}

.copyright {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  background-color: $gray-lighter;
  padding: $space/2 0;

  .container {
    width: 100%;
  }
}
