.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 0;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  a {
    color: #0b5394;
    text-decoration: none;
    &:visited {
      color: #0b5394;
    }
    &.selected {
      color: #a32800;
    }
  }
}