@import 'src/global/utils/colors';

.nav {
  width: 100%;
  padding: 0.5rem;
  background-color: white;
}
.nav--container {
   max-width: 960px;
   margin: 0 auto;
   position: relative;
   height: 50px;
   display: flex;
   align-items: center;
   flex-direction: row;
}
.nav--links {
  display: flex;
  flex-direction: column;
}
.nav--toggle {
  margin-right: 5px;
  color: #0b5394;
  cursor: pointer;
  border: none;
}
.nav--logo {
  width: 30px;
}

.nav--brand {
  font-weight: bold;
  color: $blue;
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 15px;

  @media (max-width: 768px) {
    display: none;
  }
}

.nav--register-button {
  border-radius: 3px;
  padding: 0.25em 1em;
  margin: 0 1em;
  background: $blue;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
  font-family: 'Roboto Condensed';
}

.nav-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 0;
  margin-left: 0;
  padding: 5px;
  background-color: #fff;
  -webkit-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  box-shadow: 5px 10px 21px 0px rgba(0,0,0,0.5);
  a {
    color: #0b5394;
    text-decoration: none;
    &:visited {
      color: #0b5394;
    }
    &.selected {
      color: #a32800;
    }
  }
}

.menu-show {
  display: block;
}
.menu-hide {
  display: none;
}
